global
    log 127.0.0.1 local0 notice
    maxconn 2000

defaults
    log global
    log /var/log/haproxy.log local0
    # CoScale configuration
    mode    http
    log-format %hr\ %{+Q}r\ %Tt\ %ST\ %B
    #option  httplog
    # End of CoScale configuration

    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  5000
    timeout server  5000

# CoScale configuration
listen http-in
    bind localhost:1936
    stats enable
    stats hide-version
    stats refresh 60s
    stats auth someuser:somepass
    stats uri  /haproxy?stats
# End of CoScale configuration

listen app 
    mode http
    bind *:80
    capture request header Host len 50
    
    balance roundrobin
    # option httpclose
    # option forwardfor

    server nginx01 nginx01:80 check
    server nginx02 nginx02:80 check
    server nginx03 nginx03:80 check



