apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: calcletters
  namespace: coscale-micro
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: calcletters
    spec:
      containers:
      - name: calcletters
        image: kidk/training-images-calc_letters
        imagePullPolicy: Always
        env:
        - name: DATABASE_HOST
          value: mysql
        - name: REDIS_HOST
          value: redis
        - name: LOOP
          value: "True"
