apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: mysql
  namespace: coscale-micro
spec:
  serviceName: "mysql"
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: kidk/training-images-mysql
        imagePullPolicy: Always
        ports:
        - containerPort: 3306
        volumeMounts:
        - mountPath: /var/lib/mysql
          name: mysql-data
      volumes:
      - name: mysql-data
        emptyDir: {}
