apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: kidk/training-images-nginx
        ports:
        - containerPort: 80
        env:
        - name: RECEIVER_HOST
          value: receiver
