apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: processor
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: processor
    spec:
      containers:
      - name: processor
        image: kidk/training-images-processor
        imagePullPolicy: Always
        env:
        - name: DATABASE_HOST
          value: mysql
        - name: RABBITMQ_HOST
          value: rabbitmq
      requests:
        memory: "64Mi"
        cpu: "10m"
      limits:
        memory: "128Mi"
        cpu: "30m"
