apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: kidk/training-images-rabbitmq
        imagePullPolicy: Always
        ports:
        - containerPort: 5672
        requests:
          memory: "256Mi"
          cpu: "10m"
        limits:
          memory: "512Mi"
          cpu: "30m"
