apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: receiver
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: receiver
    spec:
      containers:
      - name: receiver
        image: kidk/training-images-receiver
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: RABBITMQ_HOST
          value: rabbitmq
        - name: REDIS_HOST
          value: redis
        requests:
          memory: "256Mi"
          cpu: "20m"
        limits:
          memory: "512Mi"
          cpu: "80m"
