apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: kidk/training-images-web
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: RECEIVER_HOST
          value: receiver

